body{
    background: #a2c5f3;
    align-items: center;
}

.container-acesso{
    width: 60%;
}

.welcome{
    background: #4f93fa;
}


@media (max-width: 576px) {
    
    .container-acesso{
        border-radius: 0;
        width: 100%;
    }
    
}