body{
    background: #a2c5f3;
    align-items: center;
}

.container-cadastro{
    width: 60%;
}
.welcome{
    background: #4f93fa;
}


@media (max-width: 576px) {
    
    .container-cadastro{
        border-radius: 0;
        margin: 0;
        padding: 30% auto;
        width: 100lvw;
        height: 100lvh;
        
    }
    
}