body{
    background: #a2c5f3;
    align-items: center;
}

.container-cadastro{
    width: 60%;
}
.welcome{
    background: #4f93fa;
}


@media (max-width: 576px) {
    
    .container-cadastro{
        border-radius: none;
        width: 100lvw;        
    }
    
}