body{
    background: #a2c5f3;
}

.thead-primary{
    background: #0d6efd;
    color: #FFFF;
}

#edit-btn, #delete-btn{
    border: none;
    margin-bottom: 1rem;
    background: #0d6efd;
    color: #FFFF;
}

#delete-btn:hover{
    background: #991010;
}

#edit-btn:hover{
    background: #006e00;
}

@media (max-width: 576px) {
    .container-usuarios {
        width: 100%;
        margin: 0;
        font-size: .7rem;
    }
}